@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Stack+Sans+Notch:wght@200..700&display=swap');

.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.stack-sans-notch-blasic {
  font-family: "Stack Sans Notch", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

@media (prefers-color-scheme: light) {
    html {
        position: relative; /* Necesario para que position: absolute funcione correctamente */
        min-height: 100%; /* Para que el body tenga una altura mínima para el footer */
        margin-inline: 1vw;
    }

    body {
        background-color: #e3e1e1;
        font-family: Consolas, Monaco, monospace;
    }

    main {
        margin-bottom: 20vw;
    }

    footer {
        position: absolute;
        bottom: 0; /* Posiciona el footer al final del body */
        width: 100%;
        background-color: rgb(253, 249, 249);
    }

    header {
        padding-top: 20px;
    }

    h1 {
        font-size: clamp(1.5rem, 4vw, 2rem); /* min: 24px, escalable, max: 40px */
        background-color: rgb(213, 210, 210);
        color: rgb(10, 9, 9);
        text-align: center;
        margin-top: clamp(1rem, 3vw, 2rem);
        margin-bottom: clamp(1rem, 3vw, 2rem);
        padding-block: clamp(0.5rem, 1vw, 1rem);
        /* border-bottom: 5px ridge rgb(194, 192, 192);
        border-right: 5px ridge rgb(194, 192, 192);
        border-top: 3px rgb(194, 192, 192) solid;
        border-left: 3px rgb(194, 192, 192) solid;
        border-radius: 6px; */
        font-family: "Stack Sans Notch", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: italic;
    }

    h2 {
        font-size: clamp(1.25rem, 3vw, 2rem); /* min: 20px, escalable, max: 32px */
        background-color: whitesmoke;
        color: rgb(29, 26, 26);
        padding: clamp(0.5rem, 1vw, 1rem);
    }

    h3 {
        font-size: clamp(1.125rem, 2.5vw, 1.5rem); /* min: 18px, escalable, max: 24px */
        background-color: lightgrey;
        color: rgb(29, 26, 26);
        padding: clamp(0.5rem, 1vw, 1rem);
        margin-inline: clamp(0.5rem, 1vw, 1rem);
    }

    label {
        border-top: 2px solid grey;
        border-bottom: 2px solid grey;
        padding: 10px;
        margin-bottom: 1vw;
    }

    button {
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        align-self: center;
    }

    p {
        font-size: 18px;
        color: grey;
        padding-inline: 20px;
        margin: 1vw;
    }

    ul {
        list-style-type: square;
        padding-inline: 5evw;
    }

    img {
        max-width: 100%;
        height: 100%;
        border-radius: 20px;
    }

    .open-nav{
        display: flex;
    }

    .open-nav img{
        max-height: 5vw;
    }

    .botones-nav {
        display: none;
        flex-direction: column;
        /* Columna en móviles */
        gap: .5vw;
    }

    .botones-nav.open-nav {
        display: flex !important; /* Visible cuando tiene ambas clases */
        flex-direction: column;
    }

    .botones-nav a{
        flex: 1;
        min-width: 80%;
        padding-right: auto;
        text-align: center;
        font-size: calc(15px + .5vw);
        padding: 10px 15px;
        color: black;
        text-decoration: none;
        margin-right: 10px;
        font-family: 'Roboto', sans-serif;
        transition: box-shadow 0.3s ease;
    }

    .botones-nav a:hover {
        background-color: rgb(94, 116, 96);
        box-shadow: 0 0 15px 5px #00ff00; 
    }

    .botones-nav a:active {
        background-color: rgb(94, 116, 96);
        border: #00ff00 2px solid;
    }

    p, label, button {
        font-size: calc(15px + .5vw)
    }

    textarea {
        width: 100%;
        height: 150px;
        font-size: calc(15px + .5vw);
        padding: 10px;
        box-sizing: border-box;
    }

    form {
        max-width: 100%;
    }

    form label{
        min-width: 50%;
    }

    form input{
        min-width: 50%;
        height: 50px;
        border-radius: 5px;
        border-color: rgb(201, 200, 200);
        
    }

    .tabla-contactos {
        overflow-x: auto; /* Agrega una barra de desplazamiento horizontal si es necesario */
        margin: 2vw;
        max-width: 100vw;
        max-height: 50vh;
        overflow-y: auto;
    }

    .tabla-contactos thead{
        position: sticky;
        top: 0;
        background-color: rgb(200, 198, 198);
    }

    .tabla-contactos th,
    .tabla-contactos td {
        white-space: nowrap; /* Evita que el texto se parta en múltiples líneas */
        padding: .5rem;
        font-size: calc(10px + .5vw);
    }

    #main-index{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5vw;
        margin-bottom: 10vw;
    }

    #main-index *{
        flex: 1;
    }

    #main-index .consola {
        color: #00ff00;
        background-color: #111;
        border: 1px solid #00ff00;
        padding: 10px;
        max-width: 600px;
        margin-inline: auto;
        margin-top: 0;
        margin-bottom: 0;
        height: auto;
        overflow-y: scroll; /* Para la barra de scroll si hay mucho texto */
    }

    .salida-consola {
        margin-bottom: 1px;
        white-space: pre-wrap; /* Mantiene los saltos de línea */
    }

    .salida-consola p{
        color: #00ff00;
    }

    .entrada-consola {
        display: flex;
        align-items: start;
    }

    .prompt {
        color: #2bd44d;
        margin-right: 5px;
    }

    #comando-usuario {
        background-color: transparent;
        border: none;
        color: #40fc4f;
        font-family: Consolas, Monaco, monospace;
        outline: none; /* Quita el borde al enfocar */
    }

    form input::placeholder {
        color: rgb(162, 160, 212);
        padding-left: 2%;
    }


    #main-cv {
        display: flex;
        flex-wrap: wrap;
        width: 100%; /* Usa todo el ancho disponible */
        max-width: 95vw; /* Limita el ancho máximo */
        gap: 2vw; /* Espaciado entre elementos (mejor que margin) */
    }

    #main-cv > div {
        width: 500px; /* Ancho fijo de cada elemento */
        height: 100%;
        background-color: rgb(239, 235, 233);
    }


    @media (min-width: 500px) {
        .open-nav{
            display: none;
        }
        .botones-nav {
            display: flex;
            flex-direction: column;
            /* Columna en móviles */
            gap: .5vw;
            visibility: visible;
        }

        #main-index{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 5vw;
            margin-bottom: 10vw;
        }

        .botones-nav a{
            flex: 1;
            min-width: 80%;
            padding-right: auto;
            text-align: center;
            font-size: calc(15px + .5vw);
            padding: 10px 15px;
            color: black;
            text-decoration: none;
            border-radius: 5px;
            margin-right: 10px;
            border: 1px solid rgb(233, 225, 225);
        }
    }

    @media (min-width: 900px) {
        p, label, button {
            font-size: calc(15px + .5vw)
        }

        .botones-nav {
            display: flex;
            flex-direction: row;
            /* Columna en móviles */
            width: 20%;
            gap: 1px;
        }

        #main-index{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        .botones-nav a {
            flex: 1;
        }


    }
}

@media (prefers-color-scheme: dark) {

    body {
        background-color: rgb(47, 46, 46);
    }

    h1 {
        background-color: rgb(47, 46, 46);
        color: rgb(235, 232, 232);
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
    }

    h2 {
        background-color: whitesmoke;
        color: rgb(29, 26, 26);
    }

    h3 {
        background-color: lightgrey;
        color: rgb(29, 26, 26);
    }

    button {
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        align-self: center;
    }

    p {
        font-size: 18px;
        color: grey;
        padding-inline: 20px;
        margin: 1vw;
    }

    ul {
        list-style-type: square;
        padding-inline: 2vw;
        margin-left: 10vw;
    }

    img {
        max-width: 100%;
        height: 20%;
        border-radius: 20px;
    }

    .botones-nav {
        display: flex;
        flex-direction: column;
        /* Columna en móviles */
        gap: .5vw;
    }

    .botones-nav a{
        flex: 1;
        min-width: 80%;
        padding-right: auto;
        text-align: center;
        font-size: calc(15px + .5vw);
        padding: 10px 15px;
        color: #edebeb;
        text-decoration: none;
        border-radius: 5px;
        margin-right: 10px;
        border: 1px solid rgb(233, 225, 225);
    }

    p, label, button {
        font-size: calc(15px + .5vw)
    }

    textarea {
        width: 100%;
        height: 150px;
        font-size: calc(15px + .5vw);
        padding: 10px;
        box-sizing: border-box;
    }

    form {
        max-width: 100%;
    }

    form label{
        min-width: 50%;
    }

    form input{
        min-width: 50%;
        height: 50px;
        border-radius: 5px;
        border-color: rgb(201, 200, 200);
        
    }

    form input::placeholder {
        color: rgb(187, 187, 187);
        padding-left: 2%;
    }

    @media (min-width: 500px) {
        .botones-nav {
            display: flex;
            flex-direction: column;
            /* Columna en móviles */
            gap: .5vw;
        }

        .botones-nav a{
            flex: 1;
            min-width: 80%;
            padding-right: auto;
            text-align: center;
            font-size: calc(15px + .5vw);
            padding: 10px 15px;
            color: #edebeb;
            text-decoration: none;
            border-radius: 5px;
            margin-right: 10px;
            border: 1px solid rgb(233, 225, 225);
        }
    }

    @media (min-width: 700px) {
        p, label, button {
            font-size: calc(15px + .5vw)
        }

        .botones-nav {
            display: flex;
            flex-direction: row;
            /* Columna en móviles */
            width: 20%;
            gap: 1px;
        }

        .botones-nav a {
            flex: 1;
        }

    }
}