body {
    background-color: #da2a2a;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
    align-self: center;
}
h1 {
    color: #007bff;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    align-self: center;
}